.nav {
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }

  &__item {
    padding: 0 0.5em;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }
}

// Styling applied to the active page
[aria-current="page"] {
  color: red;
}
